.mask {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../assets/bg.webp"); /* Set the background image here */
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
}
.hero{
    height:100%;
    width: 100%;

}
.hero .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.hero .content h1 {
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}
.hero .content p {
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercases;

}
.content .btn{
    margin: 1rem 0.2rem;
}
@media screen and (max-width: 640px)  {
    .hero .content h1 {
        font-size: 3rem;
    }
    .hero .content p {
        font-size: 1.4rem;
    }
    
}/* Social Media Section */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem; /* Space between icons */
  }
  
  .social-icons a {
    color: #fff; /* White color for icons */
    font-size: 1.8rem; /* Size of icons */
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #0077b5; /* Change color on hover */
  }
  
  /* Specific Color for Resume Download Icon (Optional) */
  .social-icons a:nth-child(3):hover {
    color: #ff5722; /* Example: Orange for the resume download icon */
  }
  
  /* Responsive Adjustments */
  @media screen and (max-width: 640px) {
    .social-icons {
      margin-top: 1rem;
    }
  
    .social-icons a {
      font-size: 1.5rem;
    }
  }
/* Target the GitHub contributions calendar month labels */
.ContributionCalendar-label {
    color: white !important; /* Set the text color to white */
  }
  .typing-text {
    font-weight: bold;
    color: #1d4ed8; /* Optional color */
    border-right: 2px solid #fff; /* Blinking cursor */
    animation: blink 0.5s step-end infinite;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  @media screen and (max-width: 640px) {
  #home-calendar {
    display: none;
  }

  .content .btn {
    display: inline-block;
    width: auto;
    margin: 0.5rem 0.3rem;
  }
}
